#calendar {
    width: 350px;
    margin: 30px auto;
    font-family: Arial, sans-serif;
  }
  
  .calendar-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .calendar-table th, .calendar-table td {
    width: 14.28%;
    height: 40px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #e0e0e0;
    transition: background 0.2s;
  }
  
  .calendar-table th {
    background: #f0f0f0;
  }

  .calendar-table td {
    background: #d8ffd8;

  }
  
  .calendar-table caption {
    margin-bottom: 20px;
  }





  /* Добавляем новый класс */
  .special-day {
    background: #fff3cd !important;
 
  }
  
  .holiday {
    background: #ffd8d8 !important;

  }

  .weekend {
    background: #ffd8d8 !important;
  }
  
  
  .linked-day {
    border: 2px solid #4747ff !important;
 
  }
  
  .other-month {
    color: #aaa;
    background: #fafafa;
  }
  
  .today {
    border: 2px solid #007bff;
  }
  


  .dates{
    
  }


.calendar__info p{
  margin-left: 30%;
  position: relative;
  padding-left: 30px;
 
}
  .calendar__info p:nth-child(1):before{
     content: "";
    top: 0;
    left: 0px;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #d8ffd8;
  }
  .calendar__info p:nth-child(2):before{
     content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffd8d8;
  }
  .calendar__info p:nth-child(3):before{
     content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #fff3cd;
  }


  .body__calendar--green {
    scale: 0.8;
  }

  @media (max-width: 640px) {
     .body__calendar--green {
        scale: 0.6;
      }
  }